<div class="gui card of-hidden p-10 min-w-50 w-auto fluid-h" >
    <div class="col-settings-header" style="width: 100%">
        <div class="gui mini fluid icon input">
            <input class="col-settings-filter" type="text" placeholder="Search filter...">
            <i class="search icon"></i>
        </div>
        <div class="gui m-t-10">
            <a class="gui left show-all-column">Show All</a>
            <a class="gui right hide-all-column">Hide All</a>
        </div>
        <div class="gui clear"></div>
    </div>
    <div class="gui clear"></div>
    <div class="col-settings-table gui of-auto p-5 m-t-10" >
        <table class="gui small very border-less basic compact table">
            <tbody>
                {{#each columns}}
                <tr data-header-id="{{name}}">
                    <td>
                        <input type="checkbox" class="col-settings-hidden-checkbox" value="{{id}}" {{Checked hidden}}>
                    </td>
                    <td>
                        <label>{{name}}</label>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>