{{#each mainRowArray}}
    <tr class="mainRow">
        <td class="expansionArrows" style="display:flex;justify-content:center;">
            <button class="ui mini compact icon button">
                <i class="right triangle icon expandDetailsRowIcon" aria-hidden="true" style="cursor:pointer"></i>
                <i class="down triangle icon CollapseDetailsRowIcon" aria-hidden="true" style="cursor:pointer;display:none;"></i>
            </button>
        </td>
        <td>
            <input type="checkbox">
        </td>
        {{#each mainRowColArray}}
            <td>{{{columnValue}}}</td>
        {{/each}}
    </tr>
    {{> grid-details-row}}
{{/each}}
