<div class="gui grey card" style="height: 100%;width: auto;padding: 0.8em;overflow:hidden;">
    <div class="col-settings-header" style="width: 100%">
        <div class="gui mini fluid icon input">
            <input class="col-settings-filter" type="text" placeholder="Search filter...">
            <i class="search icon"></i>
        </div>
        <div class="gui buttons">
            <button class="gui basic button show-all-column">Show All</button>
            <button class="gui basic button hide-all-column">Hide All</button>
        </div>
    </div>
    <div class="col-settings-table" style="overflow:auto;padding:0.5em;">
        <table class="gui small very border-less compact table">
            <tbody>
                {{#each columns}}
                <tr data-header-id="{{name}}">
                    <td>
                        <input type="checkbox" class="col-settings-hidden-checkbox" value="{{id}}" {{Checked hidden}}>
                    </td>
                    <td>
                        <label>{{name}}</label>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>